#newClient-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10%;
    box-shadow: 1em;
}

#newClientBadge{
    background-color: rgb(46, 204, 113);
    width: 7vw;
    height: 13vh;
    border-radius: 50%;
    display: grid;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    
}

.fa-chart-line{
    color: white;
    align-content: center;
    font-size: 3.75em;
    align-self: center;
    justify-self: center;
}

#emailText-container {
display: grid;
grid-template-rows: 2fr 1fr;
}

#leftBNum{
font-size: 2.5em;
font-weight: 500;
align-self: center;
margin-left: 0.9em;
justify-self: auto;
}

#leftBText{
  font-weight: 600;
  font-size: 1em;
  margin-left: 2em;


}